<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
 
<section class="main-bg">
	<div class="inner-wrap-main">
		<div class="ems-left">
			<div class="ems-logo">
				<a href="#"><img src="images/ems-logo.png" /></a>
			</div>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link btn-custom active" id="nav-home" data-toggle="tab" data-target="#nav-home-txt" type="button"><i class="bi bi-grid"></i> Home</button>
				<button class="nav-link btn-custom" id="nav-help" data-toggle="tab" data-target="#nav-help-txt" type="button"><i class="bi bi-bar-chart"></i> Help</button>
				<button class="nav-link btn-custom" id="nav-disclaimer" data-toggle="tab" data-target="#nav-disclaimer-txt" type="button"><i class="bi bi-chat"></i> Disclaimer</button>
			</div>
			<div class="ems-left-bottom">
				<div class="ems-btm-bg">
					<h3>Support 24/7</h3>
					<h4>Contacts us anytime</h4>
					<a href="#" class="btn btn-primary mt-3">start</a>
					<img src="images/mask-group.png" />
				</div>
			</div>
		</div>
		<div class="tab-content ems-right" id="nav-tabContent">

			<div class="tab-pane fade show active" id="nav-home-txt" role="tabpanel" aria-labelledby="nav-home">
				<div class="main-title d-flex align-items-center pb-3">
					<h2>Experiments</h2>
					<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
				</div>
				<div class="home-list">
					<ul class="list-unstyled">
						<li><span class="num-txt">1.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">2.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">3.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">4.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">5.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">6.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">7.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
						<li><span class="num-txt">8.</span> Effect of drug on Locomotor Activity of Mice using Actophotometer <a href="#" class="ml-auto"><i class="bi bi-play-fill"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-help-txt" role="tabpanel" aria-labelledby="nav-help">
				<div class="main-tab-txt">
					<div class="main-title d-flex align-items-center pb-3">
						<h2>Instructions</h2>
						<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
					</div>
					<div class="ems-box">
						<ul class="list-unstyled">
							<li class="text-white py-1">Animals are divided into two groups (6 animals in each).</li>
							<li class="text-white py-1">Administer one group with the drug to be tested and other with vehicle by oral route.</li>
							<li class="text-white py-1">Put one animal at a time in the Actophotometer.</li>
							<li class="text-white py-1">Start the instrument.</li>
							<li class="text-white py-1">Count the locomotor activity for 10 minutes.</li>
							<li class="text-white py-1">Repeat the procedure at the interval of 30 minutes.</li>
							<li class="text-white py-1">Record the observations.</li>
							<li class="text-white py-1">The mice in test group are injected Diazepam (1 Mg /kg Oral) and locomotor activity is measures twice as stated above.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-disclaimer-txt" role="tabpanel" aria-labelledby="nav-disclaimer">
				<div class="main-tab-txt">
					<div class="main-title d-flex align-items-center  pb-3">
						<h2>Observations</h2>
						<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
					</div>
					<div class="ems-box">
						<p class="text-white m-0">Actophotometer has a central chamber with arrangement of light sources and photocells at the base of two opposite walls.The light of each source is focused on a photocell. Any Interruption in the path of light activates the photocells and this is counted as a measure of horizontal locomotor activity of the mice kept in the chamber.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
 
</body>
</html>