<!DOCTYPE html>
<html>
<head>
	<title>Introduction</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
 
<section class="main-bg">
	<div class="inner-wrap-main">
		<div class="ems-left">
			<div class="ems-logo">
				<a href="#"><img src="images/ems-logo.png" /></a>
			</div>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link btn-custom active" id="nav-introduction" data-toggle="tab" data-target="#nav-introduction-txt" type="button"><i class="bi bi-grid"></i> Introduction</button>
				<button class="nav-link btn-custom" id="nav-instructions" data-toggle="tab" data-target="#nav-instructions-txt" type="button"><i class="bi bi-bar-chart"></i> Instructions</button>
				<button class="nav-link btn-custom" id="nav-experiment" data-toggle="tab" data-target="#nav-experiment-txt" type="button"><i class="bi bi-chat"></i> Experiment</button>
				<button class="nav-link btn-custom" id="nav-observations" data-toggle="tab" data-target="#nav-observations-txt" type="button"><i class="bi bi-gear"></i> Observations</button>
			</div>
			<div class="ems-left-bottom">
				<div class="ems-btm-bg">
					<h3>Support 24/7</h3>
					<h4>Contacts us anytime</h4>
					<a href="#" class="btn btn-primary mt-3">start</a>
					<img src="images/mask-group.png" />
				</div>
			</div>
		</div>
		<div class="tab-content ems-right" id="nav-tabContent">

			<div class="tab-pane fade show active" id="nav-introduction-txt" role="tabpanel" aria-labelledby="nav-introduction">
				<div class="main-tab-txt">
					<div class="main-title d-flex align-items-center pb-3">
						<h2>Introduction</h2>
						<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
					</div>
					<h3 class="h3 pb-4">Effect of drug on Locomotor Activity of Mice using Actophotometer</h3>
					<div class="ems-box">
						<div class="ems-box-img">
							<img src="images/actophotometer.jpg" alt="" class="img-fluid"/>
						</div>
						<div class="ems-box-text">
							<p class="text-white">Actophotometer has a central chamber with arrangement of light sources and photocells at the base of two opposite walls.The light of each source is focused on a photocell. Any Interruption in the path of light activates the photocells and this is counted as a measure of horizontal locomotor activity of the mice kept in the chamber.</p>
						</div>
					</div>
				</div>
				
				<div class="pt-3 d-flex">
					<a href="#" class="btn btn-primary glb-btn ml-auto">Next Step: Observations</a>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-instructions-txt" role="tabpanel" aria-labelledby="nav-instructions">
				<div class="main-tab-txt">
					<div class="main-title d-flex align-items-center pb-3">
						<h2>Instructions</h2>
						<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
					</div>
					<div class="ems-box-white instruction-list">
						<ul class="list-unstyled">
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Animals are divided into two groups (6 animals in each).</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Administer one group with the drug to be tested and other with vehicle by oral route.</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Put one animal at a time in the Actophotometer.</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Start the instrument.</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Count the locomotor activity for 10 minutes.</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Repeat the procedure at the interval of 30 minutes.</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> Record the observations.</li>
							<li><i class="bi bi-hand-thumbs-up pr-4"></i> The mice in test group are injected Diazepam (1 Mg /kg Oral) and locomotor activity is measures twice as stated above.</li>
						</ul>
					</div>
				</div>
				<div class="pt-3 d-flex">
					<a href="#" class="btn btn-primary glb-btn">Previous Step: Instructions</a>
					<a href="#" class="btn btn-primary glb-btn ml-auto">Next Step: Observations</a>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-experiment-txt" role="tabpanel" aria-labelledby="nav-experiment">
				<div class="main-tab-txt">
					<div class="main-title d-flex align-items-center pb-3">
						<h2>Experiment</h2>
						<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
					</div>
					
					<div class="row align-items-end">
						<div class="col-md-6">
							<div class="boxes">
								<h3>Vehicle Treated</h3>
								<div class="box-grp">
									<div class="tray-box">
										<img src="images/tray.png" class="img-fluid"/>
										<ul>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
										</ul>
									</div>
									<div class="tube-box">
										<img src="images/tube.png" class="img-fluid" />
										<p>Vehicle</p>
									</div>
								</div>
							</div>
							<div class="boxes mt-4">
								<h3>Drug Treated</h3>
								<div class="box-grp">
									<div class="tray-box">
										<img src="images/tray.png" class="img-fluid"/>
										<ul>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
											<li><img src="images/rats/rat-1.png" class="img-fluid" /></li>
										</ul>
									</div>
									<div class="tube-box">
										<img src="images/tube.png" class="img-fluid" />
										<p>Vehicle</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 video-box-bg">
							<div class="video-box">
								<video id="video1" width="250" height="200" controls="" muted="">
									<source src="images/oral.mp4" type="video/mp4">
								</video>
							</div>
							<div class="video-text">
								<p class="m-0">Counter = 15</p>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered text-center m-0">
									<thead>
										<tr>
											<th>Group Selected</th>
											<th>Locomotor Index</th>
											<th>No. of Rearings</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Vehicle</td>	
											<td><input type="text" class="form-control"></td>
											<td><input type="text" class="form-control"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				<div class="pt-3 d-flex">
					<a href="#" class="btn btn-primary glb-btn">Previous Step: Instructions</a>
					<a href="#" class="btn btn-primary glb-btn ml-auto">Next Step: Observations</a>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-observations-txt" role="tabpanel" aria-labelledby="nav-observations">
				<div class="main-tab-txt">
					<div class="main-title d-flex align-items-center  pb-3">
						<h2>Observations</h2>
						<a href="#" class="btn btn-primary ml-auto"><i class="bi bi-person"></i></a>
					</div>
					<div class="ems-box">
						<p class="text-white m-0">Actophotometer has a central chamber with arrangement of light sources and photocells at the base of two opposite walls.The light of each source is focused on a photocell. Any Interruption in the path of light activates the photocells and this is counted as a measure of horizontal locomotor activity of the mice kept in the chamber.</p>
					</div>
				</div>
				
				<div class="pt-3 d-flex">
					<a href="#" class="btn btn-primary glb-btn">Previous Step: Instructions</a>
				</div>
			</div>

		</div>
	</div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
 
</body>
</html>