<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
 
<section class="login-bg">
	<img src="images/cir-1.png" class="login-1 login-ab" />
	<img src="images/Subtract.png" class="login-2 login-ab" />
	<img src="images/grp-1.png" class="login-3 login-ab" />
	<div class="ems-logo">
		<a href="#"><img src="images/ems-blue-logo.png" /></a>
	</div>
	<div class="login-form">
		<form>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
 
</body>
</html>